html {
  height: 100%;
  width: 100%;
}

body {
  color: blue;
}

h1,
h2 {
  text-align: center;
}

.centered-text {
  text-align: center;
  margin: 0 auto;
}
about-blog {
  text-align: left;
}
why-model-rocket {
  text-align: right;
}
